<%= form_for([namespace, page.resource], html: { class: "form" }) do |form| %>
  <% if page.resource.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= t(
          "administrate.form.errors",
          pluralized_errors:
            pluralize(page.resource.errors.count, t("administrate.form.error")),
          resource_name: display_resource_name(page.resource_name, singular: true)
        ) %>
      </h2>

      <ul>
        <% page.resource.errors.full_messages.each do |message| %>
          <li class="flash-error"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns">
    <div class="field column is-half">
      <div class="field">
        <div id="cover_image_file_input" class="file is-boxed has-name">
          <%= form.label :cover_image, "Cover image", class: "file-label", style: "display:block" do |builder| %>
            <%= form.file_field :cover_image, class: "file-input" %>
            <% if page.resource.cover_image.attached? %>
              <%= image_tag page.resource.cover_image %>
            <% end %>
            <span class="file-cta">
              <span class="file-label">upload cover image</span>
            </span>
            <span class="file-name"></span>
          <% end %>
        </div>
      </div>
      <div class="field">
        <%= form.label :title, class: "label", style: "display: block" %>
        <div class="control">
          <%= form.text_field :title, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :primary_link,
                   "Purchase link",
                   class: "label",
                   style: "display: block" %>
        <div class="control">
          <%= form.text_field :primary_link, class: "input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :one_liner_blurb, class: "label", style: "display: block" %>
        <div class="control">
          <%= form.text_field :one_liner_blurb, class: "input" %>
        </div>
      </div>

      <div
        class="
          container
          is-flex
          is-flex-direction-row
          is-justify-content-space-between
        "
      >
        <div class="field" style="width: 100%;">
          <%= form.label :tag, class: "label" %>
          <div class="control">
            <div class="select is-rounded" style="width: 80%;">
              <%= form.select :tag_id, Tag.all.collect { |t| [t.name, t.id] } %>
            </div>
          </div>
        </div>

        <% if current_user.admin? %>
          <div class="field" style="width: 100%;">
            <%= form.label :author, class: "label" %>
            <div class="control">
              <div class="select is-rounded" style="width: 80%;">
                <%= form.select :author_id, User.valid_authors.collect { |t| [t.name, t.id] } %>
              </div>
            </div>
          </div>
        <% else %>
          <%= form.hidden_field :author_id, value: current_user.id %>
        <% end %>

        <div class="field">
          <%= form.label :display_price, class: "label", style: "display: block" %>
          <div class="control">
            <%= form.text_field :display_price, class: "input" %>
          </div>
        </div>
      </div>

      <div
        class="
          container
          field
          is-grouped
          is-flex
          is-flex-direction-row
          is-align-items-center
        "
      >
        <div
          class="
            mr-4
            control
            is-flex
            is-flex-direction-row
            is-align-items-center
            is-justify-content-center
          "
        >
          <%= form.check_box :adult_content, class: "checkbox mr-2" %>
          <%= form.label :adult_content, class: "label", style: "display: block" %>
        </div>
        <div
          class="
            mr-4
            control
            is-flex
            is-flex-direction-row
            is-align-items-center
            is-justify-content-center
          "
        >
          <%= form.check_box :kindle_unlimited, class: "checkbox mr-2" %>
          <%= form.label :kindle_unlimited, class: "label", style: "display: block" %>
        </div>
        <div
          class="
            mr-4
            control
            is-flex
            is-flex-direction-row
            is-align-items-center
            is-justify-content-center
          "
        >
          <%= form.check_box :queer_rep, class: "checkbox mr-2" %>
          <%= form.label :queer_rep, class: "label", style: "display: block" %>
        </div>
      </div>
    </div>
    <div class="column is-half">
      <div class="field">
        <%= form.label :description, class: "label", style: "display: block" %>
        <%= form.text_area :description, class: "textarea", rows: "10" %>
        <% if page.resource.errors[:description] %>
          <ul>
            <% page.resource.errors.where(:description).each do |error| %>
              <li class="has-text-danger"><%= error.full_message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="container is-flex is-flex-direction-row is-align-items-center">
        <div
          class="
            mr-4
            field
            is-flex
            is-flex-direction-row
            is-align-items-center
            is-justify-content-center
          "
        >
          <%= form.check_box :free, class: "checkbox mr-2" %>
          <%= form.label :free, class: "label", style: "display: block" %>
        </div>

        <% if current_user.admin? || current_user.super_admin? %>
          <div
            class="
              mr-4
              mb-3
              field
              is-flex
              is-flex-direction-row
              is-align-items-center
              is-justify-content-center
            "
          >
            <%= form.check_box :promo_active, class: "checkbox mr-2" %>
            <%= form.label :promo_active, class: "label", style: "display: block" %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
  <div>
    <%= form.submit "Submit", class: "button is-warning" %>
  </div>
<% end %>
<script>
  const fileInput = document.querySelector('#cover_image_file_input input[type=file]');
  fileInput.onchange = () => {
    if (fileInput.files.length > 0) {
      const fileName = document.querySelector('#cover_image_file_input .file-name');
      fileName.textContent = fileInput.files[0].name;
    }
  }
</script>
