<div class="container">
  <h1 class="title is-1 has-text-centered" id="search-results">Search Results</h1>

  <%= turbo_frame_tag 'authors_frame' do %>
    <% unless @authors.nil? || @authors.empty? %>
      <div class="level">
        <div class="level-left">
          <h2 class="subtitle is-2 has-text-danger">Authors</h2>
        </div>
        <div class="level-right">
          <%== pagy_bulma_nav(@pagy_authors) %>
        </div>
      </div>
      <div class="tile is-ancestor is-flex-wrap-wrap mobile-tile-container">
        <% @authors.each do |author| %>
          <%= render(Authors::SearchCardComponent.new(author: author)) %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= turbo_frame_tag 'books_frame' do %>
    <% unless @books.nil? || @books.empty? %>
      <div class="level">
        <div class="level-left">
          <h2 class="subtitle is-2 has-text-danger">Books</h2>
        </div>
        <div class="level-right">
          <%== pagy_bulma_nav(@pagy_books) %>
        </div>
      </div>
      <div class="tile is-ancestor is-flex-wrap-wrap mobile-tile-container">
        <% @books.each do |book| %>
          <%= render(Books::GalleryCardComponent.new(book: book)) %>
          <%= render(Books::GalleryQuickViewComponent.new(book: book)) %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if @authors.nil? || @books.nil? || (@authors.empty? && @books.empty?) %>
    <h2 class="subtitle is-2 has-text-centered has-text-danger">No results found</h2>
  <% end %>
</div>
