<div
  data-controller="books--quick-view"
  data-books--quick-view-id="<%= book.id %>"
  data-books--quick-view-target="modal"
  class="modal"
>
  <div class="modal-background" data-action="click->books--quick-view#close"></div>
  <div class="modal-content has-background-white">
    <div class="is-flex is-justify-content-right">
      <span class="delete" data-action="click->books--quick-view#close"></span>
    </div>
    <h1 class="title is-2"><%= book.title %></h1>
    <% unless book.author_id == nil %>
      <h2 class="subtitle is-3">By:
        <a href="/authors/<%= book.author.id %>" data-action="click->books--quick-view#unClip"><%= book.author.name %></a></h2>
    <% end %>

    <% unless book.genre.nil? %>
      <a href="/books?genre=<%= book.genre.id %>" class="subtitle">Genre:
        <%= book.genre.name %></a>
    <% end %>

    <div class="mb-2">
      <% if book.spicy %>
        <span class="tag is-danger">Spicy</span>
      <% end %>

      <% if book.kindle_unlimited %>
        <span class="tag is-warning">KU</span>
      <% end %>

      <% if book.queer_rep %>
        <span class="tag is-link">Queer Rep</span>
      <% end %>
    </div>

    <% if book.cover_image.attached? %>
      <%= image_tag book.cover_image, class: "mb-2" %>
    <% end %>

    <a href="<%= book.primary_link %>" class="mb-3 button is-link auto-center is-medium">Buy Here</a>

    <p><%= book.description %></p>
  </div>
</div>
