<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Primary link:</strong>
    <%= book.primary_link %>
  </p>

  <p>
    <strong>Additional links:</strong>
    <%= book.additional_links %>
  </p>

  <p>
    <strong>One liner blurb:</strong>
    <%= book.one_liner_blurb %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= book.description %>
  </p>

  <p>
    <strong>Display price:</strong>
    <%= book.display_price %>
  </p>

  <p>
    <strong>Free:</strong>
    <%= book.free %>
  </p>

  <p>
    <strong>Promo active:</strong>
    <%= book.promo_active %>
  </p>

  <% if book.cover_image.attached? %>
    <%= image_tag book.cover_image %>
  <% end %>

</div>
