<div class="container book-gallery-container">
  <%= form_with url: bulk_activation_toggle_books_path, method: :patch do |form| %>
    <div class="level mobile-centered-container">
      <div class="level-left"><h1 class="title is-1">Select Books for Promo</h1></div>
      <div class="level is-justify-content-right">
        <%= link_to "Back to admin", books_bulk_activation_toggle_form_path, class: "mr-4" %>
        <div class="level-right"><%= form.submit "Update active books", class: "button is-primary" %></div>
      </div>
    </div>
    <p  class="has-text-danger" style="text-align: right">Submit form on every page, or progress wont be saved</p>
    <div class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <%== pagy_bulma_nav(@pagy) %>
      </div>
    </div>
    <div class="tile is-ancestor is-flex-wrap-wrap" id="books">
      <div class="tile is-ancestor is-flex-wrap-wrap" id="books">
        <% @books.each do |book| %>
          <%= render(Books::GalleryActivationCardComponent.new(book: book)) %>
          <%= render(Books::GalleryQuickViewComponent.new(book: book)) %>
        <% end %>
      </div>
    </div>
    <div class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <%== pagy_bulma_nav(@pagy) %>
      </div>
    </div>
  <% end %>
</div>
