<p style="color: green"><%= notice %></p>

<% if @live_promo && (!@books.empty? || !@filters.empty?) %>
  <div class="container">

    <div class="is-flex is-justify-content-center mb-6">
      <h1 class="title is-1">Books</h1>
    </div>
    <div class="mobile-filter-controls is-flex is-justify-content-center" >
      <%= form_with url: "/books", method: :get, class: "width-half" do |form| %>
        <div class="mb-2 is-align-items-baseline width">
          <div class="mr-2 mb-4">
            <%= form.label :genres, "Filter by genre:", class: "label" %>
            <div class="multi-select" data-controller="choices">
              <%= form.select :genres,
                          Genre.all.collect { |g| [g.name, g.id] },
                          { selected: params[:genres] },
                          { multiple: true } %>
            </div>
          </div>
          <div class="mr-2 mb-4">
            <%= form.label :tags, "Filter by tag:", class: "label" %>
            <div class="multi-select" data-controller="choices">
              <%= form.select :tags,
                          Tag.all.collect { |g| [g.name, g.id] },
                          { selected: params[:tags] },
                          { multiple: true } %>
            </div>
          </div>
        </div>
        <%= form.submit "apply filters", class: "button is-primary" %>
      <% end %>
    </div>
    <% unless @filters.empty? %>
      <div class="container mb-4">
        <div class="level is-justify-content-space-around mobile-centered-container">
          <div class="level-left">
            <p class="subtitle mb-1 mr-2">Active Filters:</p>
            <div class="tags">
              <% @filters.each do |filter, value| %>
                <span class="tag is-small is-info">
                  <%= value %>
                  <% if filter.include?("genre") %>
                    <% gen_id = filter.gsub("genre_", "")
                    updated_genres = request.query_parameters["genres"].reject { |g| g == gen_id } %>
                    <%= link_to "x",
                    books_path(request.query_parameters.merge({ "genres" => updated_genres })),
                    class: "delete is-small",
                    remote: true,
                    method: :get %>
                <% elsif filter.include?("tag") %>
                    <% gen_id = filter.gsub("tag_", "")
                    updated_genres = request.query_parameters["tags"].reject { |g| g == gen_id } %>
                    <%= link_to "x",
                    books_path(request.query_parameters.merge({ "tags" => updated_genres })),
                    class: "delete is-small",
                    remote: true,
                    method: :get %>
                  <% end %>
                </span>
              <% end %>
            </div>
          </div>
        </div>
        <div class="is-flex is-justify-content-center mb-2">
          <%= link_to "Clear filters", books_path, class: "button is-danger is-outlined" %>
        </div>
      </div>
    <% end %>
    <div class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <%== pagy_bulma_nav(@pagy) %>
      </div>
    </div>
    <div class="tile is-ancestor is-flex-wrap-wrap" id="books">
      <% @books.each do |book| %>
        <%= render(Books::GalleryCardComponent.new(book: book)) %>
        <%= render(Books::GalleryQuickViewComponent.new(book: book)) %>
      <% end %>
    </div>
    <div class="level mb-6">
      <div class="level-left"></div>
      <div class="level-right">
        <%== pagy_bulma_nav(@pagy) %>
      </div>
    </div>
  </div>
<% elsif @live_promo && @books.empty? %>
  <div class="is-flex is-justify-content-center mb-6"><h1 class="title is-1">We'll be live soon. Hang tight!</h1></div>
<% elsif @upcoming_promo %>
  <div class="is-flex is-flex-direction-column is-align-items-center mb-6">
    <h1 class="title is-1">
      Hold tight, new promo incoming!
    </h1>
    <h2 class="subtitle is-2">
      check out the
      <a href="<%= businesses_path %>">Bookish Stores</a>
      page while you wait
    </h2>
  </div>

<% else %>
  <div class="is-flex is-flex-direction-column is-align-items-center mb-6">
    <h1 class="title is-1">Check back later for info on the next promotion</h1>
    <h2 class="subtitle is-2">
      check out the
      <a href="<%= businesses_path %>">Bookish Stores</a>
      page while you wait
    </h2>
  </div>

<% end %>
