<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="level mobile-centered-container">
    <div class="level-left"><h1 class="title is-1">Books</h1></div>
    <div class="level-right mb-2">
      <%= form_with url: "/books", method: :get do |form| %>
        <%= form.label :tag, "Filter by tag:", class: "label pt-3" %>
        <div class="select is-rounded is-small">
          <%= form.select :tag, Tag.all.collect { |t| [t.name, t.id] }, include_blank: true %>
        </div>
        <%= form.label :attributes, "Filter by attribute:", class: "label" %>
        <div class="level">
          <div class="control mr-2">
            <%= form.label :spicy, class: "lable" %>
            <%= form.check_box :spicy, class: "checkbox" %>
          </div>
          <div class="control mr-2">
            <%= form.label :kindle_unlimited, class: "lable" %>
            <%= form.check_box :kindle_unlimited, class: "checkbox" %>
          </div>
          <div class="control mr-2">
            <%= form.label :queer_rep, class: "lable" %>
            <%= form.check_box :queer_rep, class: "checkbox" %>
          </div>
        </div>
        <%= form.submit "apply filters", class: "button is-primary" %>
      <% end %>
    </div>
  </div>
  <% unless @filters.empty? %>
    <div class="container mb-4">
      <div class="level is-justify-content-space-around mobile-centered-container">
        <div class="level-left">
          <p class="subtitle mb-1 mr-2">Active Filters:</p>
          <div class="tags">
            <% @filters.each do |filter| %>
              <span class="tag is-small is-info"><%= filter %></span>
            <% end %>
          </div>
        </div>
      </div>
      <div class="is-flex is-justify-content-center mb-2">
        <%= link_to "Clear filters", books_path, class: "button is-danger is-outlined" %>
      </div>
    </div>
  <% end %>
  <div class="level">
    <div class="level-left"></div>
    <div class="level-right">
      <%== pagy_bulma_nav(@pagy) %>
    </div>
  </div>
  <div class="tile is-ancestor is-flex-wrap-wrap" id="books">
    <% @books.each do |book| %>
      <%= render(Books::GalleryCardComponent.new(book: book)) %>
      <%= render(Books::GalleryQuickViewComponent.new(book: book)) %>
    <% end %>
  </div>
  <div class="level">
    <div class="level-left"></div>
    <div class="level-right">
      <%== pagy_bulma_nav(@pagy) %>
    </div>
  </div>
</div>
