<p style="color: green"><%= notice %></p>

<div class="container">
  <div class="level">
    <h1 class="title is-1">Books</h1>
    <%= form_with url: "/books", method: :get do |form| %>
      <%= form.label :tag, "Filter by tag:" %>
      <%= form.select :tag, Tag.all.collect { |t| [t.name, t.id] }, include_blank: true %>
      <%= form.submit "apply filter" %>
    <% end %>
    <%= link_to "Clear filters", books_path, class: "button is-danger is-outlined" %>
    <%== pagy_bulma_nav(@pagy) %>
  </div>
  <div class="tile is-ancestor is-flex-wrap-wrap" id="books">
    <% @books.each do |book| %>
      <%= render(Books::GalleryCardComponent.new(book: book)) %>
      <%= render(Books::GalleryQuickViewComponent.new(book: book)) %>
    <% end %>
  </div>
  <div class="level">
    <div class="level-left"></div>
    <div class="level-right">
      <%== pagy_bulma_nav(@pagy) %>
    </div>
  </div>
</div>

<%= link_to "New book", new_book_path %>
