<turbo-stream action="update" target="series_selector">
  <template>
    <div class="field mb-4">
      <label class="label" for="book_series_id">Series</label>
      <div class="control select mr-2">
        <select id=book_series_id name="book[series_id]">
          <option value="" label=" "></option>
          <% @author_series.each do |series| %>
            <% if series.id == @series.id %>
              <option value="<%= series.id %>" selected="selected"><%= series.name %></option>
            <% else %>
              <option value="<%= series.id %>"><%= series.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
      <%= link_to "Create New Series",
      "/series/new",
      class: "button is-primary",
      data: {
        turbo_frame: "series_selector"
      } %>
    </div>
  </template>
</turbo-stream>
