<!DOCTYPE html>
<html class="">
  <head>
    <title>Indievisible</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>
    <!-- If using a TypeScript entrypoint file: vite_typescript_tag
    'application' If using a .jsx or .tsx entrypoint, add the extension:
    vite_javascript_tag 'application.jsx' Visit the guide for more information:
    https://vite-ruby.netlify.app/guide/rails -->
  </head>

  <body>
    <nav class="navbar mb-2 has-background-color">
      <div class="navbar-brand">
        <a href="<%= books_path %>">
          <img src="https://storage.googleapis.com/indievisible_static/indie-visible-logo.png" alt="Logo of an open book with the words Indie Visible above" width="175">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-controller="navbar" data-action="click->navbar#toggleMenu" data-target="navMenu">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item" href="<%= books_path %>">Books</a>
          <a class="navbar-item" href="<%= businesses_path %>">Bookish Stores</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <%= link_to "Author Portal", admin_root_path, class: "button is-primary" %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
