<!DOCTYPE html>
<html>
  <head>
    <title>Indievisible</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>
    <!-- If using a TypeScript entrypoint file: vite_typescript_tag
    'application' If using a .jsx or .tsx entrypoint, add the extension:
    vite_javascript_tag 'application.jsx' Visit the guide for more information:
    https://vite-ruby.netlify.app/guide/rails -->
  </head>

  <body>
    <nav class="navbar mb-6">
      <div class="navbar-brand">
        <%= link_to "IndieVisible", books_path, class: "navbar-item title is-3 has-background-info has-text-white p-3"%>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-controller="navbar" data-action="click->navbar#toggleMenu" data-target="navMenu">
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
  <span aria-hidden="true"></span>
</a>
      </div>
      <div class="navbar-menu" id="navMenu">
        <div class="navbar-start">
          <a class="navbar-item" href="<%= books_path %>">Books</a>
          <a class="navbar-item" href="<%= businesses_path %>">Businesses</a>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <% if signed_in? %>
              <span class="mr-3">
                Signed in as:
                <%= current_user.email %>
              </span>
              <%= button_to "Sign out",
              destroy_user_session_path,
              method: :delete,
              class: "button is-danger" %>
            <% else %>
              <%= link_to "Sign in", user_session_path, class: "button is-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
