<!DOCTYPE html>
<html class="">
  <head>
    <title>Indievisible</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag "application" %>
    <!-- If using a TypeScript entrypoint file: vite_typescript_tag
    'application' If using a .jsx or .tsx entrypoint, add the extension:
    vite_javascript_tag 'application.jsx' Visit the guide for more information:
    https://vite-ruby.netlify.app/guide/rails -->
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/fe8d1c8d1540fb585d0be6979/a6481a6b32c6d3717054057f6.js");</script>
  </head>

  <body>
    <nav class="navbar mb-2 has-background-color is-justify-content-space-around">
      <div class="container">
        <div class="navbar-brand">
          <a href="<%= books_path %>" class="ml-3 navbar-logo">
            <img
              src="https://fly.storage.tigris.dev/indievisible-images-prod/indie-visible-logo-public.png"
              alt="Logo of an open book with the words Indie Visible above"
            >
          </a>
          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-controller="navbar"
            data-action="click->navbar#toggleMenu"
            data-target="navMenu"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <a class="navbar-item" href="<%= books_path %>">Books</a>
            <a class="navbar-item" href="<%= businesses_path %>">Bookish Stores</a>
            <% if Promo.active.any? && User.in_the_spotlight.any? %>
              <a class="navbar-item" href="/author-spotlight">Author Spotlight</a>
            <% end %>
          </div>
          <div class="navbar-item search-container ">
            <%= form_with url: search_path, method: "get", html: { class: "width-full"}  do |form| %>
              <div class="level is-align-items-center">
                <%= form.text_field :query, class: "input mr-2 search-bar" %>
                <%= form.submit "Search", class: "button search-button" %>
              </div>

            <% end %>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <%= link_to "Author Portal", admin_root_path, class: "button is-primary" %>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="container is-flex is-justify-content-center mb-4">
      <% if Promo.active.any? && Promo.active.first.banner.attached? %>
        <%= image_tag Promo.active.first.banner.variant(resize_to_limit: [1500, 400]) %>
      <% elsif Promo.next_up.any? && Promo.next_up.first.banner.attached? %>
        <%= image_tag Promo.next_up.first.banner.variant(resize_to_limit: [1500, 400]) %>
      <% end %>

    </div>
    <%= yield %>
  </body>
</html>
